/* 
header {
    background-color: white;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.img-background {
    z-index: -1;
    position: absolute;
    top: 0;
    width: 100vw;
    height: 85vh;
}

.photo-credit {
    position: absolute;
    font-weight: bold;
    right: 1vw;
    bottom: 20vh;
} */