<div class="jumbotron p-4 bg-secondary">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Link</a>
    </p>
</div>

<div class="row p-4">
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center">
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
</div>

<div class="p-4 bg-body-tertiary text-center">
    <h1>Other Section</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Faucibus turpis in eu mi bibendum neque egestas congue quisque. Tincidunt praesent semper feugiat nibh. Accumsan sit amet nulla facilisi morbi tempus. Pretium vulputate sapien nec sagittis. Elementum nisi quis eleifend quam adipiscing vitae proin sagittis. Nullam ac tortor vitae purus faucibus ornare suspendisse sed nisi. Vitae turpis massa sed elementum tempus egestas. Consequat nisl vel pretium lectus quam id leo in vitae. Libero id faucibus nisl tincidunt eget nullam non nisi. Sem fringilla ut morbi tincidunt.
    </p>
</div>